# 자료형(category)은 용량,속도에서 효율적

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")
print(tips.shape)
print(tips.columns)

(244, 7)
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
# 여러 자료형을 문자열로 변환  astype
tips['smoker_str'] = tips['smoker'].astype(str)
tips

     total_bill   tip     sex smoker   day    time  size smoker_str
0         16.99  1.01  Female     No   Sun  Dinner     2         No
1         10.34  1.66    Male     No   Sun  Dinner     3         No
2         21.01  3.50    Male     No   Sun  Dinner     3         No
3         23.68  3.31    Male     No   Sun  Dinner     2         No
4         24.59  3.61  Female     No   Sun  Dinner     4         No
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3         No
240       27.18  2.00  Female    Yes   Sat  Dinner     2        Yes
241       22.67  2.00    Male    Yes   Sat  Dinner     2        Yes
242       17.82  1.75    Male     No   Sat  Dinner     2         No
243       18.78  3.00  Female     No  Thur  Dinner     2         No

[244 rows x 8 columns]

In [8]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [9]:
tips['smoker'].astype('category')

0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): ['Yes', 'No']

In [10]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

# to_numeric 에러시 데이터 처리
raise :오류표시, coerce :누락(NaN), ignore :아무작업안함

In [13]:
pd.to_numeric(tips['smoker'],errors='ignore')

0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: object

In [16]:
total_bill = tips['total_bill'].head(10)

In [18]:
total_bill[[1,7,5]]= 'missing'
total_bill

0      16.99
1    missing
2      21.01
3      23.68
4      24.59
5    missing
6       8.77
7    missing
8      15.04
9      14.78
Name: total_bill, dtype: object

In [19]:
pd.to_numeric(total_bill,errors='coerce')

0    16.99
1      NaN
2    21.01
3    23.68
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [20]:
pd.to_numeric(total_bill,errors='ignore')

0      16.99
1    missing
2      21.01
3      23.68
4      24.59
5    missing
6       8.77
7    missing
8      15.04
9      14.78
Name: total_bill, dtype: object

In [22]:
tips.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size smoker_str
0         16.99  1.01  Female     No   Sun  Dinner     2         No
1         10.34  1.66    Male     No   Sun  Dinner     3         No
2         21.01  3.50    Male     No   Sun  Dinner     3         No
3         23.68  3.31    Male     No   Sun  Dinner     2         No
4         24.59  3.61  Female     No   Sun  Dinner     4         No
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3         No
240       27.18  2.00  Female    Yes   Sat  Dinner     2        Yes
241       22.67  2.00    Male    Yes   Sat  Dinner     2        Yes
242       17.82  1.75    Male     No   Sat  Dinner     2         No
243       18.78  3.00  Female     No  Thur  Dinner     2         No

[244 rows x 8 columns]>

In [24]:
tips

     total_bill   tip     sex smoker   day    time  size smoker_str
0         16.99  1.01  Female     No   Sun  Dinner     2         No
1         10.34  1.66    Male     No   Sun  Dinner     3         No
2         21.01  3.50    Male     No   Sun  Dinner     3         No
3         23.68  3.31    Male     No   Sun  Dinner     2         No
4         24.59  3.61  Female     No   Sun  Dinner     4         No
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3         No
240       27.18  2.00  Female    Yes   Sat  Dinner     2        Yes
241       22.67  2.00    Male    Yes   Sat  Dinner     2        Yes
242       17.82  1.75    Male     No   Sat  Dinner     2         No
243       18.78  3.00  Female     No  Thur  Dinner     2         No

[244 rows x 8 columns]